.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.map {
	float: left;
/*	margin: 21px 15px 0px 42px;*/
}

.game {
	margin: 5px;
	clear: both;
}

.map * {
	float:left;
    margin: 0px;
}
.map img {
	width: 32px;
	height: 32px;
}
.wrapper {
    overflow: hidden;
    border: solid 5px;
}
.float {
	position: absolute;
	float: left;
	width: 32px;
	height: 32px;
}

pre {
	float: left;
	margin: 110px;
}

a {
	clear: both;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}
.notcenter {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
}

table {
	border: 1px solid silver;
	margin-top: 8px;
}

table.gamelist {
	border: 1px solid;
	bordercolor: black;
	width: 50%;
	align: center;
}

table.opponents {
	border: 1px solid;
	bordercolor: black;
	width: 50%;
	align: center;
}

#slider {
	width: 42%;
	margin-top: 12px;
	margin-left: 12px;
}

.selector {
	width: 32px;
	height: 32px;
	position: absolute;
	margin: 0px;
}

.ui-widget-content .ui-widget-header {
	margin-top: 0px;
}

.ui-widget-content {
	margin-top: 21px;
}

.floatpicker {
	display: none;
}
.floatpickercontainer {
	
}

.tag {
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    color: #3e6d8e;
    font-size: 90%;
    line-height: 2.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}

.tag-verify-fail, .tag-cannot-reproduce-replay, .tag-decryption-error {
	color: #ff0000;
	font-size: 130%;
}

.tag-possible-solution, .tag-plugin, .tag-has-options, .tag-not-two-players, .tag-player-eliminated-move {
	color: #ff8000;
	font-size: 110%;
}

.tag-noapply {
	background-color: #cccccc;
}

.tweenme {
	float: left;
	display: inline-block;
}

.tooltip {
	display: inline;
	position: relative;
}

.tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}

.tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}

#search {
	margin-bottom: 21px;
	width: 50%;
}

.chart {
	margin-bottom: 5px;
	height: 235px;
}

.chart-container {
	width: 42%;
	height: 300px;
}

#chart-options {
	margin-bottom: 10px;
}

.menu {
	margin-top: 7px;
	margin-bottom: 42px;
}

.menu a {
    background-color: #FFE8A5;
    box-shadow: 3px 3px #FFEB42;
    color: #9000FF;
    font-family: Arial;
    margin: 0 14px 0 0;
    padding: 14px;
    text-decoration: none;
}

#showing {
	font-size: 2em;
}

.turnimage {
	width: 32px;
	height: 32px;
}

#footer {
    clear: both;
	margin-bottom: 14px;
	margin-top: 21px;
}

.searchdata {
	font-size: 14px;
    vertical-align: sub;
}
