.menu {
	margin-top: 7px;
	margin-bottom: 42px;
}

.menu a {
    background-color: #FFE8A5;
    box-shadow: 3px 3px #FFEB42;
    color: #9000FF;
    font-family: Arial;
    margin: 0 14px 0 0;
    padding: 14px;
    text-decoration: none;
}

#footer {
    clear: both;
	margin-bottom: 14px;
	margin-top: 21px;
}
